{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ collection.name }}</h1>

<h2>{% trans "Items" %}</h2>
<ul>
    {% for item in items %}
    <li>
        {{ item.title }}
<!--        <a href="{% url 'admin:collect_item_change' item.id %}">{% trans "Edit" %}</a>-->
        <a href="{% url 'collect_item_change' object_id=item.id %}">{% trans "Edit" %}</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'collect_item_add' %}?collection={{ collection.id }}">Add New Item</a>
{% endblock %}
